body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: antiquewhite;
}

.titlebox1 { 
    padding: 60px;
    width: 400px;
    background-color: sienna;
    border-radius: 5%;
    text-align: center;
    font-size:xx-large;
    color: antiquewhite;
}