body {
    height: 800px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: antiquewhite;
}

.mainbox{
    position: relative;
    padding: 10px;
    width: 70vw;
    height: 60vh;
    background-color: sienna;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items:center;
    text-align: center;
    color: antiquewhite; 
    font-size: clamp(0.8rem, 3vw, 2rem);
    overflow-wrap:break-word;
}
#overlay {
    position: absolute;
    top: 5px;
    width: 70vw;
    height: 60vh;
}
.art-img {
  display: block;
  width: 100%;
  opacity: 1;
  cursor: pointer;
}
.art-img:hover {
    opacity: 0;
}
#overlay2 {
    position: absolute;
    top:5px;
    right:10px;
    width: 70vw;
    height: 60vh;
    pointer-events: none;
}
.framer-img {
  display: block;
  width: 100%;
}