body {
    height: 800px;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: antiquewhite;
}
.topcontainer{
    width: 100%;
    display:flex;
    flex-direction: column;
    position: relative;
    height:800px;
    gap: 40px;
    justify-content: 20px;
    padding-top: 20px;

}
.firstbox{ 
    padding: 20px;
    width: 90%;
    max-width:800px;
    background-color: sienna;
    border-radius: 5%;
    text-align: center;
    font-size:large;
    color: antiquewhite;
}
.secondbox{
    padding: 10px;
    width: 55%;
    height: 300px;
    background-color: sienna;
    border-radius: 5%;
    justify-content: flex-start;
    text-align: center;
    font-size:medium;
    color: antiquewhite; 
}
.thirdbox{
    position: static;
    margin-left: auto;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    width: 55%; 
    height: 250px;
    background-color: sienna;
    border-radius: 5%;
    text-align: center;
    font-size:medium;
    color: antiquewhite; 
  
}
.cheer-girl-img,
.baseball-boy-img {
    width: 230px;
    height:220px;
}
.cg-wrapper {
    position:absolute;
    top:250px;
    right:1px;
    transform: translateX(50px);
    text-align: center;
}
.bb-wrapper {
    position: absolute;
    bottom:10px;
    left:1px;
    transform: translateX(-50px);
    text-align: center;
}
.button1, .button2 {
    margin-top:8px;
    background-color: sienna;
    border: none;
    border-radius: 20%;
    color: rgb(41, 1, 16);
    padding: 5px 10px;
}