body {
    background-color: antiquewhite;
}
*{margin:2px;
    font size:12px;
    color: AntiqueWhite;
    font-family: Courier,monospace;
    font-weight:bold;
}
/* class names */

.main-box1{
    display:inline-block;
    position: relative;
    background: rgb(87,51,62);
    width:300px;
    height:200px;
    align-content: center;
    border-radius: 5%;
    text-align:center;
    padding: 2%;
}
.main-box2{
    display:inline-block;
    position: relative;
    background: rgb(111,77,56);
    width:300px;
    height:150px;
    align-content: center;
    vertical-align: middle;
    border-radius: 5%;
    text-align: center;
    padding: %;
}
